language: php

php:
  - 5.4
  - 5.5
  - 5.6

before_script:
 - composer self-update
 - composer install --prefer-source --dev

script:
  - mkdir -p build/logs
  - phpunit

after_script:
  - php vendor/bin/coveralls -v
