<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="phpunit_bootstrap.php" colors="false">
    <filter>
   	  <blacklist>
	  </blacklist>
	  <whitelist addUncoveredFilesFromWhitelist="true">
	    <directory suffix=".php">src/</directory>
	  </whitelist>
	</filter>
    <testsuites>
        <testsuite name="Sirius Upload Test Suite">
            <directory>./tests/src/</directory>
        </testsuite>
    </testsuites>
</phpunit>
