name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        php: ['8.1', '8.2', '8.3']
        include:
            - php: '8.1'
              send-to-scrutinizer: 'yes'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup PHP with fail-fast
      uses: shivammathur/setup-php@v2
      with:
        send-to-scrutinizer: 'no'
        phpunit-flags: '--no-coverage'
        php-version: ${{ matrix.php }}
        coverage: xdebug
      env:
        fail-fast: true
    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Run test suite
      run: |
        mkdir -p build/logs
        mkdir -p tests/fixture/
        mkdir -p tests/fixture/subdir
        mkdir -p tests/fixture/sub
        mkdir -p tests/fixtures/container
        mkdir -p tests/fixtures/container/photo
        mkdir -p tests/fixtures/container/resume
        mkdir -p tests/fixtures/container/subfolder
        mkdir -p tests/fixtures/container/user_picture
        composer run stan
        composer run test
